{% extends 'calculator/base.html' %}
{% load static %}

{% block title %}Список утеплителей{% endblock %}

{% block content %}
<form method="get">
    <input type="text" name="query" value="{{ query }}" placeholder="Поиск">
    <button type="submit">Поиск</button>
</form>

<div class="list-container">
    {% for insulator in insulators %}
        <a href="{% url 'insulator_detail' insulator.id %}?query={{ query|urlencode }}" class="card-link">
            <div class="card-container">
                <div class="card-image-container">
                    <img src="{{ minio_url }}{{ insulator.image_key }}" alt="{{ insulator.name }}" class="card-image">
                </div>
                <div class="card-body-container">
                    <div class="card-presence-container">
                        <p class="card-presence-text">
                            {% if insulator.is_active %}В наличии{% else %}Нет в наличии{% endif %}
                        </p>
                    </div>
                    <div class="card-text-container">
                        <p class="card-body-text">{{ insulator.name }}</p>
                        <div class="card-price-container">
                            <p class="card-price-text">{{ insulator.thermal_conductivity }} Вт/м·К</p>
                            <div class="card-count-container">
                                <p class="card-count-text">за 1 м²</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% empty %}
        <p>Нет доступных утеплителей</p>
    {% endfor %}
</div>

{% if current_request_id %}
<div class="cart-container">
    <a href="{% url 'request_detail' current_request_id %}" class="cart-link">
        <div class="cart-image-wrapper">
            <img src="{% static 'assets/photo/cart.jpg' %}" alt="Корзина" class="cart-image">
            {% if request_count > 0 %}
                <span class="cart-count-badge">{{ request_count }}</span>
            {% endif %}
        </div>
    </a>
</div>
{% endif %}
{% endblock %}