{% extends 'calculator/base.html' %}
{% load static %}

{% block title %}Утеплитель: {{ insulator.name }}{% endblock %}

{% block content %}
    <div class="detail-container">
        <div class="detail-tile">
            <div class="tile-image">
                <img src="{{ minio_url }}{{ insulator.image_key }}" alt="{{ insulator.name }}">
            </div>
            <div class="tile-content-detail">
                <h2>{{ insulator.name }}</h2>
                <p>{% if insulator.availability %}В наличии{% else %}Нет в наличии{% endif %}</p>
                <p>Теплопроводность: {{ insulator.thermal_conductivity }} Вт/м·К</p>
                <p>Цена: {{ insulator.price_per_m2 }} Р</p>
                <p>Плотность: {{ insulator.density }} кг/м³</p>
                <p>Класс огнестойкости: {{ insulator.fire_rating }}</p>
                <p>Описание: {{ insulator.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}