{% extends 'calculator/base.html' %}
{% load static %}

{% block title %}Заявка №{{ request.id }}{% endblock %}

{% block content %}
    <h1>Заявка</h1>
    <h2>Утеплители в заявке:</h2>
    <h2>Сопротивление: 12 м²·°C/В</h2>


    
    <div class="request-list-container">
        {% for ins in insulators %}
            <div class="request-tile-wrapper">
                <div class="tile-order">{{ forloop.counter }}</div>
                <div class="request-tile">
                    <div class="tile-image">
                        <img src="{{ minio_url }}{{ ins.image_key }}" alt="{{ ins.name }}">
                    </div>
                    <div class="tile-content">
                        <h3>{{ ins.name }}</h3>
                        <p>Полупроводность: {{ ins.thermal_conductivity }} Вт/м·К</p>

                        <div class="mm-group">
                            <label>Комментарий:</label>
                            <input type="text-detail" value="{{ ins.comment|default:'' }}" readonly class="comment-input">
                        </div>
 
                        <div class="mm-group">
                            <label>Результат (толщина):</label>
                            <input type="number" value="{{ ins.calculated_thickness }}" readonly class="quantity-input">
                            <label>мм</label>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}